<div ng-controller="ConfirmationController" class="col-md-12">
	<div class="modal-dialog" style="margin-bottom:0">
		<div class="modal-content">
			<div class="panel-heading">
				<h2>User Confirmation</h2>
			</div>
			<div growl></div>
				<div class="panel-body">
				<p> Click here to verify your e-mail and complete your registration </p>
				<form ng-submit="confirmationUser()"><!--username-->
					<div class="form-group"><button class="btn btn-primary" type="submit">Confirmation E-mail</button></div>
				</form>
			</div>			
		</div>
	</div>
</div>