
<div class="jumbotron" style="margin-right: 180px; margin-right:-20px;margin-top:-20px;">
 <h2 ng-controller="HomeController" >Hi <b><%name%></b>, welcome to MediaTweet!</h1>
 <p>This is the great software that will make your articles really trendy!</p>
</div>

<div class="container">
     <!-- Example row of columns -->
     <div class="row">
       <div class="col-md-5" >
         <h2><i class="fa fa-question-circle"></i> About us</h2>
         <p>Enthusiastic and innovative team came together to bring you this magnificent product. 
         	We are very thankful to Incubio's organization and its staff for being so pasionate and comprehensive
         	with us. </p>
         <p><a class="btn btn-default" ng-click="aboutUs()" role="button">View details »</a></p>

         
       </div>
       <div class="col-md-5">
	         <h2><i class="fa fa-pencil"></i> Bootcamp 3</h2>
	         <p><i>"Big data is not about the data" - Gary King (Harvard University)</i></p>
	         
	      </div>
     </div>

   </div>
